<!DOCTYPE html>
<html lang="ja">
    <head>
    <meta charset="UTF-8">
    <title>関ジャニ検出システム</title>
    <meta name="description" content="関ジャニ検出">
    </head>
   <body>
      {% if filepath %}
        検出結果<BR>
        <IMG SRC="{{filepath}}" width="200" height="200" BORDER="1"><BR>
      {% endif %}
      ファイルを選択して送信してください<BR>
      <form action = "./" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "FILE" />
         <input type = "submit"/>
      </form>
      <BR>
   </body>
</html>
